.card-container {
  margin-bottom: 10px;
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.card {
  width: 300px;
  background-color: var(--color-secondary);
  border: 3px solid var(--color-primary);
  box-shadow: 7px 8px 5px -5px rgba(0, 0, 0, 0.49);
  margin: auto;
}
.card__image {
  width: 100%;
}
.card__info {
  display: grid;
  grid-template-columns: auto 1fr;
}

.card__title {
  font-family: RickFont;
  text-align: center;
}
.card__content {
  padding: 10px 20px 20px;
  display: grid;
  gap: 20px;
}

.card__info-description {
  text-align: right;
}

li {
  list-style: none;
}

.error__container {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 400px;
}

.error__image {
  width: 100%;
}

.error__message {
  text-align: center;
}